{% extends 'base.html' %}
{% block title %} {{ title }} {% endblock title %}
{% load static %}

{% block content %}

<div id="input-nav"><a href="{% url 'home' %}" class="primary1">Гравная</a>
    <a href="{% url 'groups' %}" class="primary1">Группы</a> {{ group.title }}
</div>




{% if program %}
<div class="title-1">{{ program.title }}</div>
{% if program.summary %}
<p class="program-description">{{ program.summary }}</p>
{% endif %}
{% endif %}

{% if messages %}
{% for message in messages %}
{% if message.tags == 'error' %}
<div class="alert alert-danger">
    <i class="fas fa-exclamation-circle"></i>{{ message }}
</div>
{% else %}
<div class="alert alert-success">
    <i class="fas fa-check-circle"></i>{{ message }}
</div>
{% endif %}
{% endfor %}
{% endif %}

{% if request.user.is_superuser %}
<div class="btn-flex">
    
    <a class="edit-btn" href="{% url 'upload_file_view' group.pk %}">
        <i class="fas fa-pencil-alt"></i><span class="mobile-hide">Загрузить задание</span>
    </a>
    <a class="edit-btn" href="{% url 'assignments' group.pk %}">
        <span class="mobile-hide">Назначенные задания</span>
    </a>
    <a class="edit-btn" href="{% url 'edit_group' group.pk %}">
        <i class="fas fa-pencil-alt"></i><span class="mobile-hide">Редактировать группу</span>
    </a>
</div>
{% endif %}

{% if request.user.is_lecturer and chek == True %}
<div class="btn-flex">
    <a class="edit-btn" href="{% url 'upload_file_view' group.pk %}">
        <i class="fas fa-pencil-alt"></i><span class="mobile-hide">Загрузить задание</span>
    </a>
    <a class="edit-btn" href="{% url 'assignments' group.pk %}">
        <span class="mobile-hide">Назначенные задания</span>
    </a>
</div>
{% endif %}

<div class="table-responsive p-0 px-2 mt-5">
    <div class="table-responsive">
        <table class="table table-shadow table-light table-striped m-0">
            <thead>
                <tr>
                    <th></th>
                    <th>Название</th>
                    <th>Дата загрузки</th>
                    <th style="color: #e51000;">Сдать до</th>
                    <th>Скачать</th>

                    {% if request.user.is_superuser or request.user.is_lecturer %}
                    <th>Действия</th>
                    <th>Отправить</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for file in courses %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td><a href="{{ file.file.url }}" title="{{ file }}">
                            <i style="font-size: 20px; padding-right: 10px;"
                                class="fas fa-file-{{ file.get_extension_short }}"></i>
                            {{ file.title }}
                        </a>
                    </td>
                    <td>{{ file.upload_time|date:"d.m.Y" }}</td>
                    <td  style="color: #e51000;">{{ file.last_date|date:"d.m.Y" }}</td>
                    <th>
                        <div>
                            <a class="download-btn" href="{{ file.file.url }}" title="Download to your device">
                                <i class="fas fa-download"></i>Скачать
                            </a>
                        </div>
                    </th>
    
                    {% if request.user.is_superuser or request.user.is_lecturer %}
                    <td>
                        <div class="update-delete">
                            <a href="{% url 'upload_file_edit' pk=group.pk file_id=file.pk %}" class="update"
                                title="Edit">
                                <i class="fas fa-pencil-alt"></i>
                            </a>
                            <a href="{% url 'upload_file_delete' pk=group.pk file_id=file.pk %}" class="delete"
                                title="Delete">
                                <i class="fas fa-trash-alt"></i>
                            </a>
                        </div>
                    </td>
                    <td>
                        <div class="dropdown">
                            <button class="btn btn-sm" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                <div class="update-delete">
                                    <a href="#" class="update" title="Add">
                                        <i class="fas fa-edit"></i>
                                    </a>
                                </div>
                            </button>
                            <div class="dropdown-menu" style="min-width: 14rem !important;"
                                aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item"
                                    href="{% url 'add_assignments_all' pk=group.pk exercise_pk=file.pk %}">
                                    <i class="fas fa-user"></i>Отправить группе</a>
                                <a class="dropdown-item"
                                    href="{% url 'all_students_for_task' pk=group.pk task_pk=file.pk %}"><i
                                        class="fas fa-cogs"></i>Отправить выборочно</a>
                            </div>
                        </div>
    
                    </td>
                    {% endif %}
    
                    {% empty %}
                <tr>
                    <td></td>
                    <td></td>
                    <td>
                        <span class="text-danger">
                            <i class="far fa-frown fa-1x"></i> Не найдено загруженных материалов.
                            {% if request.user.is_superuser %}
                            <a href="{% url 'upload_file_view' pk=group.pk %}">
                                <i class="primary" style="font-size: 22px;">
                                    Загрузить сейчас
                                </i>
                                
                            </a>
                            {% endif %}
                            {% if request.user.is_lecturer and chek == True %}
                            <a href="{% url 'upload_file_view' pk=group.pk %}">
                                <i class="primary" style="font-size: 22px;">
                                    Загрузить сейчас
                                </i>
                            
                            </a>
                            {% endif %}
                        </span>
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% if courses.paginator.page_range|length > 1 %}
<div class="content-center">
    <div class="pagination">
        <a href="?page=1">&laquo;</a>
        {% for i in courses.paginator.page_range %}
        {% if i == courses.number %}
        <a class="pagination-active" href="?page={{ i }}"><b>{{ i }}</b></a>
        {% else %}
        <a href="?page={{ i }}">{{ i }}</a>
        {% endif %}
        {% endfor %}
        <a href="?page={{ courses.paginator.num_pages }}">&raquo;</a>
    </div>
</div>
{% endif %}

{% if request.user.is_superuser or request.user.is_lecturer %}
<div class="table-responsive p-0 px-2 mt-5">
    <div class="table-shadow">
        <table class="table table-light table-striped">
            <thead>
                <tr>
                    <th></th>
                    <th> ФИО обучающегося</th>
                </tr>
            </thead>
            <tbody>
                {% for student in students %}
                <tr>
                    <td>{{ forloop.counter }}.</td>
                    <td><a href="{{ student.student.get_absolute_url }}">
                            {{ student.student.get_full_name }}</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endif %}

{% endblock content %}