{% extends 'base.html' %}
{% block title %}{{ title }}{% endblock title %}
{% load crispy_forms_tags %}

{% block content %}

<div id="input-nav"><a href="{% url 'home' %}" class="primary1">Главная</a>
     <i>&rsaquo;</i> <a href="{% url 'groups' %}" class="primary1">Группы</a> 
     <a href="{% url 'group_detail' task.exercise.course.pk %}" class="primary1"> {{ task.exercise.course }}</a>  
       Оставить комментарий</div>

<p class="title-1">Оставить комментарий для {{ task.exercise.title }}</p>
<div class="title-line"></div><br>

{% if messages %}
    {% for message in messages %}
        {% if message.tags == 'error' %}
            <div class="alert alert-danger">
                <i class="fas fa-exclamation-circle"></i>{{ message }}
            </div>
        {% else %}
            <div class="alert alert-success">
                <i class="fas fa-check-circle"></i>{{ message }}
            </div>
        {% endif %}
    {% endfor %}
{% endif %}

<div class="row">
<div class="col-md-8 p-0 mx-auto">
    <div class="card">
    <p class="form-title">Создать комментарий</p><br>
    <form action="" method="POST" enctype="multipart/form-data">{% csrf_token %}
        <div class="container">
            
            <div class="form-group">
                <b>Текст</b>{{ form.messages }}
                <span class="danger">{{ form.messages.errors }}</span>
            </div>

            <div class="form-group">
                <button class="btn btn-primary" type="submit">Отправить</button>
                <a class="btn btn-danger" href="{% url 'assignments' group_pk %}" style="float: right;">Отмена</a>
            </div>

        </div>
        <br>
        <div class="card">
    </form>
</div>
</div>

{% endblock content %}
