{% extends 'base.html' %}
{% block title %}{{ title }}{% endblock title %}
{% load crispy_forms_tags %}

{% block content %}

<div id="input-nav"><a href="{% url 'home' %}" class="primary1">Главная</a>
     <i>&rsaquo;</i> <a href="{% url 'groups' %}" class="primary1">Группы</a> 
     <a href="{% url 'group_detail' course.pk %}" class="primary1"> {{ course.group }}</a>  
       Загрузка файлов</div>

<p class="title-1">Загрузка файлов для <span style="text-transform: lowercase;">{{ course }}</span></p>
<div class="title-line"></div><br>

{% if messages %}
    {% for message in messages %}
        {% if message.tags == 'error' %}
            <div class="alert alert-danger">
                <i class="fas fa-exclamation-circle"></i>{{ message }}
            </div>
        {% else %}
            <div class="alert alert-success">
                <i class="fas fa-check-circle"></i>{{ message }}
            </div>
        {% endif %}
    {% endfor %}
{% endif %}

<div class="row">
<div class="col-md-8 p-0 mx-auto">
    <div class="card">
    <p class="form-title">Загрузка файлов</p><br>
    <form action="" method="POST" enctype="multipart/form-data">{% csrf_token %}
        <div class="container">
            
            <div class="form-group">
                <b>Тема</b>{{ form.title }}
                <span class="danger">{{ form.title.errors }}</span>
            </div>
            <div class="form-group">
                <b>Файл</b><br>{{ form.file }}
                <span class="danger">{{ form.file.errors }}</span>
            </div>
            <p class="text-orange"><b>Допустимые расширения: </b>pdf, docx, doc, xls, xlsx, ppt, pptx, zip, rar, 7zip</p>
            <div class="form-group">
                <select hidden name="course" required="" id="id_course">
                    <option value="{{ course.pk }}" selected>{{ course }}</option>
                </select>
            </div>

            <div class="form-group">
                <b>{{ form.last_date.label }}</b>{{ form.last_date }}
                <span class="danger">{{ form.last_date.errors }}</span>
            </div>

            <div class="form-group">
                <button class="btn btn-primary" type="submit">Загрузить</button>
                <a class="btn btn-danger" href="{% url 'group_detail' course.pk %}" style="float: right;">Отмена</a>
            </div>

        </div>
        <br>
        <div class="card">
    </form>
</div>
</div>

{% endblock content %}
